#accl{
    width: 20%;
    border: 1px solid #E8E8E8;
    margin-right: 10%;
    float: left;
}
.fig5 {
         padding: 22px 0;
         border-bottom: 1px solid #E8E8E8;
         cursor: pointer;
}

#accr{
    width: 70%;
    border: 1px solid #E8E8E8;
    float: right;
}
#acclay{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}