
.all_detail h1{padding: 20px 0 10px 0;font-size: 18px;font-weight: bold;}
.all_detail .all_detail_color{width: 100%;padding:10px;background-color: #FFFDC0;border: 2px solid #EDC677;color:#FA6A11;font-weight: bold ;text-indent: 7em;}
.all_detail p{padding: 20px 0 10px 0;font-size: 15px;font-weight: bold}
.all_detail .all_detail_box{width: 100%;padding: 10px 0;border:2px solid #BCD3FC;color:#E3F1FA ;background-color: #E3F1FA;}
.all_detail .all_detail_box ul li{padding:5px 0;}
.all_detail .all_detail_box ul li em{display: inline-block;width:300px;text-align: right;color: #555;}
.all_detail .all_detail_box ul li span{color: #333;font-weight: bold;margin-left: 10px;}
.all_detail .all_detail_box ul li span b{color: #FA6A11;}
.all_detail button{background-color: #009FE8;width:89px;height:27px;line-height: 26px;border: none;color: #fff;margin: 20px 0 50px 250px;border-radius:5px ;}
/*充值记录*/
.tab-pane .tad-pane_box .recharge input {
	width: 120px;
	border: 1px solid #009FE8;
}

.tab-pane .tad-pane_box .recharge button {
	width: 77px;
	height: 27px;
	line-height: 27px;
	color: #fff;
	background-color: #009FE8;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
}
.tab-pane .tad-pane_box .recharge span{margin-left: 15px;}

.tab-pane .recharge_box{padding:20px 30px;background-color: #fdfbe2;margin-bottom: 30px;font-weight: bold;font-size: 15px;}
.tab-pane .recharge_box em{color: #ff7011;}
.paging .paging_rigth a{text-align: center;}
.paging .paging_rigth a:hover{color:#737373 ;}
.paging .paging_rigth .paac{color:#ff7011}
.tab-pane .tad-pane_box .radio{display: inline-block;width: 15px;height: 15px;margin-right:10px;vertical-align: middle;    margin-top: -2px;}

.tab-pane .recharge-record ul li em{padding: 0px 10px 0px 0px ;}
.tab-pane .recharge-record ul li.recharge_input input{width: 100px;}

.tab-pane .tad-pane_box .recharge .download{width:91px;height:27px;background: url(../../imgs/icons/a_btn_05.png) no-repeat;margin-top: 3px;color: #0066cc;
vertical-align: middle;margin-top: -3px;}
.etcbill_information{padding:0 30px;font-weight: bold;}
.tab-content .tab-pane .etcbill_information ul li{float: left;width: 20%;}
.etcbill_information ul{background-color: #fcfcf3;border: 1px solid #f0f0f0;}
.etcbill_information ul li em{width: 100px;text-align: right;}
.etcbill_information ul li span b{color: #ff7011;font-weight: normal;}
.etcbill_information ul li span{font-weight:normal;}
.tab-content .tab-pane p{font-weight:bold;padding: 25px 25px 10px 25px;font-size: 16px;}






























