
.detail{width: 100%;background-color: #F7F7F7;padding-bottom:100px ;}
.all_detail h1{padding: 40px 0 15px 0;font-size: 14px;color: #585858;}
.all_detail .all_detail_color{font-size: 18px;width: 100%;padding:40px 0px;background-color:#FFF9ED;border:1px solid #ED8719;color:#494C4B;text-indent: 7em;font-weight: 500;}
.all_detail p{padding:0px 0 10px 30px;font-size: 16px;color:#494C4B;border-bottom:1px solid #e4e4e4;}
.all_detail .all_detail_box{width: 100%;padding-top: 10px;border:1px solid #e4e4e4;color:#E3F1FA ;background-color: #fff;margin: 20px 0;}
.all_detail .all_detail_box ul{padding: 20px 0;}
.all_detail .all_detail_box ul li{padding:15px 0;}
.all_detail .all_detail_box ul li em{display: inline-block;width:205px;text-align: right;color: #555;font-size: 15px;}
.all_detail .all_detail_box ul li span{color: #333;margin-left: 10px;}
.all_detail .all_detail_box ul li span b{color: #F4B067;}
.all_detail button{background-color:#009FEB;width:89px;height:30px;line-height:30px;border: none;color: #fff;margin: 20px 0 10px 215px;border-radius:5px ;}
/*充值记录*/
.tab-pane .tad-pane_box .recharge input {
	width: 120px;
	border: 1px solid #009FE8;
	height: 25px;line-height: 25px;
}

.tab-pane .tad-pane_box .recharge button {
	width: 77px;
	height: 27px;
	line-height: 27px;
	color: #fff;
	background-color: #009FE8;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
}
.tab-pane .tad-pane_box .recharge span{margin-left: 15px;}

.tab-pane .recharge_box{padding:20px 30px;background-color: #fdfbe2;margin-bottom: 30px;font-weight: bold;font-size: 15px;}
.tab-pane .recharge_box em{color: #ff7011;}
.paging .paging_rigth a{text-align: center;}
.paging .paging_rigth a:hover{color:#737373 ;}
.paging .paging_rigth .paac{color:#ff7011}
.tab-pane .tad-pane_box .radio{display: inline-block;width: 15px;height: 15px;margin-right:10px;vertical-align: middle;    margin-top: -2px;}

.tab-pane .recharge-record ul li em{padding: 0px 10px 0px 0px ;}
.tab-pane .recharge-record ul li.recharge_input input{width: 100px;}

.tab-pane .tad-pane_box .recharge .download{width:91px;height:27px;background: url(../../imgs/icons/a_btn_05.png) no-repeat;margin-top: 3px;color: #0066cc;
vertical-align: middle;margin-top: -3px;}
.etcbill_information{padding:0 30px;font-weight: bold;}
.tab-content .tab-pane .etcbill_information ul li{float: left;width: 20%;}
.etcbill_information ul{background-color: #fcfcf3;border: 1px solid #f0f0f0;}
.etcbill_information ul li em{width: 100px;text-align: right;}
.etcbill_information ul li span b{color: #ff7011;font-weight: normal;}
.etcbill_information ul li span{font-weight:normal;}


/*提现记录   付款*/
.Pay_center{padding: 20px 0;background-color: #FFF9ED;border: 2px solid #ECA150;margin-bottom: 20px;}
.Pay_center ul li{float: left;width: 25%;}
.Pay_center ul li span em{color: #ECA150;}

.Pay_center ul li p{font-weight: normal;padding: 0;padding: 5px 0;}
.pay-step2{background-color: #fff;border: 1px solid #e4e4e4;margin-bottom:70px;}
.pay-step2 h2{padding: 20px 20px 0 25px;font-size: 16px;}

.pay-step2 .pay-step2_box{padding:0 0 50px 150px;}
.pay-step2 .pay-step2_box>em{padding-right: 30px;}
.pay-step2 .pay-step2_box em span{color:#ECA150 ;}

.pay-step2 .pay-step2_top{width: 96%;margin: 0 auto;}
.pay-step2 .pay-step2_top h3{padding:25px 0;border-top: 1px solid #e4e4e4;color:#ACACAC;}
.pay-step2 table tr th{text-align: center;}
.pay-step2 table tr td{text-align: center;}

.pay-step2 .table-striped tbody tr td:first-child{padding-left: 0px;}
.pay-step2 .table-striped tbody tr td{border-right: 1px solid #e4e4e4;}
.pay-step2 .table-striped tbody tr td{line-height:30px;}
/*提现记录--付款*/
.pay {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	margin-bottom: 20px;
}

.pay h2 {
	padding: 10px 20px;
	font-size: 16px;
	border-bottom: 1px solid #e4e4e4;
	color: #000000;
}

.pay ul {
	padding: 10px 0 10px 50px;
	font-size: 16px
}

.pay ul li {
	padding: 20px 0;
	color: #333;
}

.pay ul li span {
	width: 140px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}

.pay ul li em em {
	color: #ECA150;
}

.pay ul li button {
	margin: 20px 0 30px 35px;
	background-color:#F1870C;
}

.pay .pay_ul {
	padding: 30px 0 30px 70px;
}

.pay .pay_ul li {
	padding: 5px 0;
}

.pay .pay_tab {
	width: 97%;
	margin: 0 auto;

}

.pay .pay_tab ul {
	padding: 0;
	border: none;
	border-bottom: 1px solid #009FE8;
}

.pay .pay_tab ul li {
	padding: 0;
	width: 145px;
	height: 45px;
	border-radius: 10px 10px 0 0;
	background-color: #fff;
	border: 1px soid #e4e4e4;
	text-align: center;
	color: #555;
	margin-bottom: 0px;
}

.pay .pay_tab ul li a:hover {
	background-color: #fff;
	border-radius: 10px 10px 0 0;color:#555 ;
}
.pay .pay_tab .nav-tabs > li > a{margin-right: 0;border-radius: 10px 10px 0 0;width: 152px;padding: 10px 10px;border: 1px solid #e4e4e4;border-bottom: none;}

.pay .pay_tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{color: #333;}
.pay .pay_tab .nav-tabs > li.active>a{background-color: #009FEB;color: #fff;border-radius: 10px 10px 0 0;width: 152px;}

.pay .pay_tab .tab-pane ol{padding: 50px 0 30px 0;}
.pay .pay_tab .tab-pane ol li{float: left;padding: 20px 20px 0 0;}
.pay .pay_tab .tab-pane ol li input{width: 13px;height: 13px;border-radius:50%;display: inline-block ;border: 1px solid #e4e4e4;margin-right: 10px;}
.pay .pay_tab ul li a{display: inline-block;padding: 0;width: 152px;height: 45px;line-height: 30px;}
