
/*我要收款*/
.collection{
    background-color:rgb(246,246,246);
    padding:31px 0 190px 0;
}
.collection h4{
    color:#333333;
    font-size:18px;
    padding-left:28px;
    height:44px;
    line-height:44px;
}
.line{
    width:1198px;
    margin-left:-14px;
    border-bottom:1px solid #E8E8E8;
}
.linedown{
    width:1198px;
    margin-left:-16px!important;
    border-top:1px solid #E8E8E8;
}
.linedowntwo{
    width:1198px;
    margin-left:-16px!important;
}
.collection .shouk{
    margin-top:46px;
    color:#585858;
    padding-left:14px;
}
.sub_coll{
    width:1200px;
    margin:0 auto;
    color:#4A4A4A;
    font-size:12px;
}
.container{
    margin-top:15px;
    border:1px solid #E8E8E8;
    width:1200px;
    background-color:white;
}
.conmargin{
    margin-bottom:82px;
}
/*progress开始*/
.progress{
    width:1140px;
    height:10.8%;
    margin:30px 0 6% 14px;
    float:left;
    background-color:white;
    border-radius: 0;
    box-shadow:none;

}
.progress li{
    float:left;
    position:relative;
}
.firstli{
    width:37%;
    height:69%;
    float:left;
    padding-top:1.75%;

}
.progress .form-one{
    width:100%;
    height:10px;
    background-color:#00A0E8;
}
.progress .quan-one{
    width:33px;
    height:33px;
    text-align: center;
    line-height:33px;
    border-radius: 100%;
    background-color:#00A0E8;
    position: absolute;
    top:10%;
    left:61%;
    color:white;
    z-index: 10;
}
.firstli p{
    text-align: center;
    font-size:15px;
    margin:30px 0 0 29%;
}
.secli{
    width:26%;
    height:6.8%;
    float:left;
    padding-top:1.75%;
}
.progress .change{
    background-color:#D5D5D5;
}
.progress .quanc{
    position: absolute;
    top:10%;
    left:45%;
    background-color:#D5D5D5;
}
.progress .threeli .quanc{
    position: absolute;
    top:10%;
    left:32%;
}
.secli p{
    text-align: center;
    font-size:15px;
    margin:30px 0 0 4%;
}
.progress .threeli p{
    text-align: center;
    font-size:15px;
    margin:30px 0 0 -100px;
}
/*form开始*/
.form{
    width:1200px;
    height:auto;
    margin:120px 0 20px 0;
    padding-top:54px;
}
.form label{
    display:inline-block;
    height:0.5%;
    width:12%;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    margin-right:24px;
}
.changeb{
    color:#00A0E8;

}
.form input{
    height:25px;
    width:16.5%;
    margin-right:16px;
    padding-left:10px;
}

.form p{
    margin-bottom:24px;
}
.form p em{
    color:#EE8719;
}
.totalmoney{
    border:none;
    background-color:#E8E8E8;
}
.form .severmoney{
    width:37px;
    border:none;

}
.lsevermoney{
    color:#00A0E8;
}
.nextbtn{
    height:30px;
    width:6.4%!important;
}
.nextbtn{
    margin-left:191px;
}
#txt{
    height:151px;
    width:329px;
    margin-left:17.4%;
    padding-left:10px;
    padding-top:5px;
}
.stail{
    position:relative;
}
.stail label{
    display: inline-block;
    position:absolute;
}
.errstyle{
    color:#FF8700;
    font-size:12px;
    display: inline-block;
    height:22px;
    padding:0 13px 0 40px;
    line-height:22px;
    background-color:#F7F7F7;
    background:url("/imgs/icons/A2.png") no-repeat 10px center;
    margin-left:10px;
}
.form label.error{
    width:200px;
    color:#FF8700;
    text-align:left;
    padding-left:25px;
    background:url("/imgs/icons/A2.png")no-repeat 0 3px;
}
/*计算器*/
.form .jsq{
    position:absolute;
    top:61%;
    left:45%;
    display:none;
    background-color:white;
}
.form .jsqtwo{
    position:absolute;
    top:68%;
    left:45%;
}
.form .jsq input{
    width:100%;
    border:0;
    text-align: right;
    padding:0 10px;
}
.form .jsq .yell{
    color:#EE8719;
}

.form .jsq td{
    border: 1px solid #E8E8E8;
    width: 70px;
    height: 38px;
    vertical-align: middle;
    text-align: center;
}
.form .jsq{
    border-collapse: collapse;
}

/*选择联系人*/
/*.linedown{*/
    /*position:relative;*/
/*}*/
.modalcontent{
    width:400px;
    position:fixed;
    left:25%;
    top:550px;
}
.modalbody ul{
    margin-top:10px;
    margin-left:5px;
    width:337px;
}
.modalbody ul li{
    padding:0;
    border-bottom:1px solid #F0F0F0;
}
.modalbody .find{
    width:53px;
    margin-left:12px;
    color:white;

}
.modalbody button{
    width:45px;
    height:25px;
    padding:0;
    margin-left:10px;
}
.modalheader{
    border:none;
}
.xuan{
    width:15px!important;
    display: inline-block;
    vertical-align:bottom;
    margin-left:10px !important;
}
.modalbody .seclabel{
    display: inline-block;
    width:250px;
    margin-left:5px;
    text-align: left;
    color:#919191;
}
.modalfooter button{
    width:75px;
    height:25px;
    line-height:10px;
    float:left;
    margin-left:10px;
    margin-right:20px;
}
.modalfooter span{
    float:left;
    margin-right:20px;
}
.alertdown{
    margin:100px 0 0 23px;
    width:1155px;
    position:relative;
}
.alertdown p{
    margin-left:53px;
}
.alertdown img{
    position:absolute;
    left:20px;
    top:20px;
}
.modalbody .serchinp{
    width:257px;
    float:left;
    margin-left:10px;
    padding-left:25px;
    background:url("/imgs/icons/sousuo.png") no-repeat 5px center;
}
.modaltitle{
    margin-left:10px;
    font-size:20px;
    color:#333333;
}
.modalfooter{
    border:none;
}
/*多人收款*/
.formpad{
    padding-left:40px;
}
.formpad p{
    margin-bottom:20px!important;
}
.manyla {
    display: inline-block;
    height: 19px!important;
    width: 125px!important;
    font-size: 14px!important;
    font-weight: normal!important;
    margin-left:-10px!important;
}
.user{
    height:25px;
    width:16.5%;
    margin-left:-5px;
}
.form p em{
    color:#EE8719;
}
.totalmoney{
    border:none;
}
.form .formtis{
    color:#919191;
}
.severmoney{
    width:37px;
    border:none;
}
.lsevermoney{
    color:#00A0E8;
}
.nextbtntwo{
    height:30px;
    width:135px;
    margin-left:57px;
    width:135px;
    color:rgb(73,145,218);
}
#txto{
    height:75px;
    width:16.5%;
    margin-left:11.4%;
    padding-left:10px;
    padding-top:5px;
}
.stail{
    position:relative;
}
.stail label{
    display: inline-block;
    position:absolute;
}

.manype{
    padding-left:59px;

}

.manype .manyla{
    text-align: left;
    width:155px!important;
}
.manype>input{
    width:150px;
    margin-right:5px;
}
.manype span{
    display: inline-block;
    margin-left:45px;
    text-align: center;
}
.lookbz{
    color:#00A0E8;
}
.lookbz:hover{
    color:#00A0E8;
}
.alertpad{
    margin-left:-20px;
}
.formpad p .mulbtn{
    margin-left:60px!important;

}
.form .manype label.error{
    margin-left:36px;
}
.form .manype label#moneycheck-error{
    margin-left:0;
}
/*确认收款信息*/
.confirmco{
    padding-bottom:82px;
}
.quepro{
    margin-bottom:0;
}
.seclitwo .change{
    background-color:#00A0E8;
}
.seclitwo .quanc{
    background-color:#00A0E8;
}
.form .warning{
    width:1140px;
    font-size: 12px;
    margin-bottom:74px;
    margin-left:30px;
    height:39px;
    padding-top:10px;
}
.warning p{
    display: inline-block;
    height:30px;
    width:1058px;
    margin-left:10px;
}
.form p span em{
    color:rgb(255,102,0);
}
.form p label{
    display: inline-block;
    width:126px;
    height:19px;
    text-align: right;
    margin:0 18px 0 60px;
    font-weight: normal;
    color:#4A4A4A;
}
.lastbtn{
    margin-top:50px;
    margin-bottom: 50px;
}
.lastbtn input{
    width:75.3px;
    padding-right:10px;
    height:25px;
    color:white;
    border:none;
    border-radius: 3px;
}
#btn1{
    margin-left:105px;
    margin-right:26.7px;
    background-color:#00A0E8;
}
#btn2{
    background-color:#EE8719;
}

.gant{
    vertical-align: top;
}

/*//收款成功*/
.prohei{
    height:90px;
}
.seclimar .quanc{
    margin-top:5px;
}
.formbody {
    width:1052px;
    height:auto;
    margin:0 auto;
    padding:30px;
    margin-bottom: 150px;
    border:1px dashed #D5D5D5;
    border-radius: 5px;
    margin-left:57px;
}
.formbody p span em{
    color:rgb(255,102,0);
}
.formbody p img{
    height:30px;
    margin:0 15px;
}
/*formfooter开始*/
.conbo{
    margin-bottom:0;
}
.formfooter{
    width:1200px;

    padding:28px;
    height:260px;
    background-color:white;
    border:1px solid #E8E8E8;
    margin:22px 0 158px 0;
}
.formfooter a{
    margin:0 10px;
}
.formfooter .lianjie{
    color:rgb(154,189,219);
    margin-left:-10px;
}
.alertchange{
    width:1140px;
    margin-left:0px;
    margin-top:46px;
}
.lianjie a{
    color:#00A0E8;
}
.lianjie a:hover{
    color:#00A0E8;
}
.lianjie{
    margin-top:30px;
}
.threelitwo .change{
    background-color:#00A0E8;
}
.threelitwo .quanc{
    background-color:#00A0E8;
}
.btndown{
    margin-top:10px;
    margin-left:210px;
}
.plook{
    margin-left:65px;
}
