
/*帮助中心*/

.help_aboutus_right{width: 947px;border: 1px solid #E8E8E8;float: right;background-color: #fff;}
.help_aboutus_right h2{height: 40px;line-height: 40px;border-bottom: 1px solid #E8E8E8;padding-left: 40px;font-size: 15px;}
.help_aboutus_right .help_right_box{width: 100%;padding: 0px 37px;}
.help_aboutus_right ul{padding-bottom: 30px;}
.help_aboutus_right ul li{height: 60px;line-height: 60px;border-bottom: 1px dashed #E8E8E8;}
.help_aboutus_right ul li img{vertical-align: middle;padding:0 25px;margin-bottom: 4px;}
.help_aboutus_right ul li em{font-size: 14px;padding-left:10px;}
.help_aboutus_right ul li em a{color: #585858;}
.help_aboutus_right ul li em a:hover,ul li em a:link{text-decoration: none;}
/*收费规则*/
.help_aboutus_right .help_right_box span{text-align: center;padding: 20px 0 10px 0;font-size: 16px;border-bottom: 1px solid #e4e4e4;display: inline-block;font-weight:bold;width: 100%;}
.help_aboutus_right .help_right_box .text{padding: 20px 0;color: #666;}
.help_right_box .text p{line-height: 30px;text-indent:2em;font-size: 14px;padding:5px 0;}
.help_right_box .text h3{padding:10px 0;font-weight: bold;}
.help_right_box .text em{padding: 10px 0;text-indent:2em;font-size: 12px;display:block;}

/*账户密码*/
#title{padding-bottom: 0;margin-top: 10px;background-color: #F7F7F7;}
#title li {
	float:left;
	margin-right:10px;
	width: 134px;height: 35px;line-height: 35px;text-align: center;
	position: relative;
	z-index:1000;
	margin: 10px;
	
	border: none;
}
#title li a{color: #585858 ;}
#title, #wrap {
	clear:both;
	width:100%;
}
#wrap {
	height:300px;
	position:relative;
	top:-1px;
	padding:10px;
}
#wrap>div {
	display:none;
}
#wrap .active {
	display:block;
}
#title .ho {
	width: 134px;height: 35px;line-height: 35px;text-align: center;border: none;
}
#title .ho a{color:#00A0E8;}
#title .ho a:hover,ul li em a:link{text-decoration: none;}

/*帮助中心  里面内容*/
.help_right_box .text2{width: 100%;border: 1px solid #e4e4e4;border-radius: 5px ;}










