.life_line{
    width: 100%;
    margin-bottom: 20px;
}
.lifebo{
    width: 100%;
    overflow: hidden;
}
.lifel{
    width: 234px;
    float: left;
    border: 1px solid #E8E8E8;
}

.lifelu{
    background: white;
}
.lifelu li{

 }
.lifelu li:nth-child(1){
    background: url("/imgs/lifeservice/A8.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(1).act{
    background: url("/imgs/lifeservice/A1.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(2){
    background: url("/imgs/lifeservice/A9.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(2).act{
    background: url("/imgs/lifeservice/A2.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(3){
     background: url("/imgs/lifeservice/A10.png") no-repeat;
     background-position: 40px 20px;
 }
.lifelu li:nth-child(3).act{
    background: url("/imgs/lifeservice/A3.png") no-repeat;
    background-position: 40px 20px;
}
.lifelu li:nth-child(4){
    background: url("/imgs/lifeservice/A11.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(4).act{
    background: url("/imgs/lifeservice/A4.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(5){
    background: url("/imgs/lifeservice/A12.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(5).act{
    background: url("/imgs/lifeservice/A5.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(6){
    background: url("/imgs/lifeservice/A13.png") no-repeat;
    background-position: 40px 24px;
}
.lifelu li:nth-child(6).act{
    background: url("/imgs/lifeservice/A6.png") no-repeat;
    background-position: 40px 24px;
}
.lifelu li:nth-child(7){
    background: url("/imgs/lifeservice/A14.png") no-repeat;
    background-position: 40px 22px;
}
.lifelu li:nth-child(7).act{
    background: url("/imgs/lifeservice/A7.png") no-repeat;
    background-position: 40px 22px;
}

.lifer{
    width: 944px;
    float: right;

}
.lifer h2{
       margin-bottom: 13px;
}
.lifeban{
    width: 100%;
    height: 360px;
}
.lifeban img{
    width: 100%;
    height: 360px;
}
.lifel li{
      background: white;
      cursor: pointer;
      border-bottom: 1px solid #e8e8e8;
      line-height: 58px;
      font-size: 15px;
     text-indent: 70px;
      position: relative;
  }
.lifel li .life1{
        position: absolute;
        left: 0;
        top: 0;
        display: none;
}

.lifel li.act .life1{
         display: block;
}
.lifel li.act {
   color: #31B2EC;
}

.lifel img{
      margin-right: 20px;
}
.liferone{
    background: white;
    margin-bottom: 20px;
    border: 1px solid #E8E8E8;
}
.onetop{
    text-indent: 19px;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 15px;
    color: #333333;
}
.onebo{
    padding: 28px 19px;
}
.xzjfxm{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px
}
.xzjfxm>div{
    width: 80px;
    text-align: center
}
.xzjfxm img{
   margin-bottom: 20px;
}
.life_step{
    width: 212px;
    border-radius: 3px;
    display: inline-block;
    color: white;
    text-align: center;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    margin-top: 35px;
    background: #31B2EC;
}
/*电影票模块*/
.dyp .layout{
    padding-bottom:350px;
}
.dyp .gpxz{
    display:inline-block;
    height:33px;
    width:91px;
    line-height:33px;
    background:url("/imgs/postappls/B2.png") no-repeat left center;
    padding-left:30px;
    color:#31B2EC;
}
.dyp .gplscx{
    display:inline-block;
    height:33px;
    width:114px;
    line-height:33px;
    background:url("/imgs/postappls/B2.png") no-repeat left center;
    padding-left:30px;
    color:#31B2EC;
    margin-left:23px;
}
.dyp .sub-dyp{
    width:100%;
    height:auto;

}
.dyp .subdyp-left{
    width:370px;
    height:auto;
    float:left;
    margin-bottom: 47px;
}
.dyp  .dyp-content{
    width:100%;
    height:auto;
    padding-left:30px;
    margin-top:26px;
}
.dyp  .dystr{
    float:left;
    /*width:227px;*/
    margin-left:20px;
}
.dyp  .dystr h2{
    color:#33325A;
}
.dyp  .dystr p{
    margin-bottom:4px;
    color:#999999;
    font-size:12px;
}
.dyp  .dystr p em{
    color:#EE8719;
}
.dyp .dystr .dytime{
    color:#333333;
}
.dyp .dytime button{
    width:83px;
    height:25px;
    background-color:#EEEEEE;
    border:1px solid #DDDDDD;
    font-size:12px;
    margin-left:5px;
}
.dyp .dystr p .xzgp{
    width:77.3px;
    height:25px;
    background-color:#EE8719;
    color:white;
    border:none;
    margin-top:5px;
    border-radius: 3px;
    font-size:12px;
}
.dyp .subdyp-right{
    float:right!important;
    width:500px;
}

/*医疗预约*/
.ylyy .ksyy{
    width:100%;
    height:118px;
    padding-top:30px;
    border-bottom:1px solid #EDEDED;
}
.ylyy .ksyy-right{
    float:left;
}
.ylyy .ksyy-right .subksyy{
    font-size:18px;
    color:#585858;
    float:left;
    margin-left:21px;
}
.ylyy .ksyy-right p .ljyy{
    display: inline-block;
    width:102px;
    height:33px;
    font-size:12px;
    color:white;
    line-height:33px;
    text-align: center;
    border-radius: 3px;
    background-color:#31B2EC;
    margin-left:550px;

}
.ylyy .ksyy-right .czhz{
    width:756px;
    margin-left:21px;
    font-size:12px;
    color:#585858;
    margin-top:8px;
    line-height:22px;
}
.ylyy .onebo{
    padding-bottom:470px;
}
.ylyy .liferone .norque p{
    color:#919191;
    line-height:30px;
    margin-bottom:15px;
}
.ylyy .layout{
    padding-bottom:0;
}
.cpjs{
    margin-bottom: 20px;
    color: #585858;
}
.ylyy .liferone .h3{
    color:#4A4A4A;
}
.ylyy .liferone .h2{
    color:#4A4A4A;
}