
/*.pay_one_box1 em:not(.em8){*/
    /*animation: mymove 3s infinite;*/
    /*z-index: 6;*/
/*}*/
@keyframes mymove {
    to{
        transform: scale(0.1);
        left:153px;
        top:158px;
    }

}
.pay_one_box1 .animated{
    animation-duration:5s;
}
.pay_one_box1 .em8.animated{
    animation-duration:5s;
}
.pay_one_box3 .animated{
   animation-duration:5s;
}



/*.pay_one_box1 em{*/
    /*left:163px !important;*/
    /*top:176px !important;*/
/*}*/