.myusp{
    background: #F7F7F7;
    font-family: "Microsoft YaHei";
}

.myuspban{
    width: 100%;
    height: 175px;
    background:url("../../static/imgs/myunspay/wodeyinshengbao1.png") repeat-x;
    background-size: 100% 100%;
    letter-spacing: 1px;
}

/*fix*/
.fix{
    position: fixed;
}
#fixl{
    width: 240px;
    overflow: hidden;
}
.myusp a:hover{
    text-decoration: none;
}
/*banner*/
.banner_text{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.myusptip{
     line-height: 60px;
     letter-spacing: 1px;
}
.cc{
    background: #00A0E8;
    color: white !important;
    border-radius: 5px;
    padding: 5px;
}

/*头像部分*/
.myusptx{
    position: absolute;
    bottom: 10px;
    left: 0;width: 100%;
    color: white;
}
.myusptx .col-md-5{
    line-height: 30px;
}
.myusptx .col-md-6{
    line-height: 30px;
 }
.myusptx .col-md-6 div{
    line-height: 30px;

}
.toux{
    background: url("../../static/imgs/myunspay/toux.png");
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}
.smicon1{
    background: url("../../static/imgs/myunspay/toux1.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
.smicon2{
    background: url("../../static/imgs/myunspay/toux2.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
.smicon3{
    background: url("../../static/imgs/myunspay/toux3.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
}


/*我的账户*/

.myuspf {
    border-right: 1px solid #ECECEC;
    height: 100%;
    margin-bottom: 25px;
}
.myuspzh,.myusppay,.myusplive,.myuspjy{
    border: 1px solid #ECECEC;
    overflow: hidden;
    margin-bottom: 40px;
    background: white;
}

.myuspzh{
    overflow: hidden;
}
            .myuspl{
                 float: left;
                 overflow: hidden;
                 width: 50%;
                  padding: 25px 25px;
                border-right: 1px solid #ECECEC;
                height: 100%;
             }
            .myuspl>div{
                width: 50%;
                float: left;
                height: 60px;
            }
            .myuspr{
                float: left;
                overflow: hidden;
                width: 50%;
                padding: 25px 25px;
                height: 100%;
            }
            .crecard{
                display: inline-block;
                border: 1px solid red;
                width: 40%;
                float: left;
                padding: 16px 20px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .myuspzhbo{
                    width: 100%;
                    padding: 0;
                    border-top: 1px solid #ECECEC;
                    float: left;
                }

.myuspr div{
    overflow: hidden;
    width: 100%;
}
.myuspzhr span{
    color: #FE8800; ;
}

#myuspname{
    font-size: 18px;
}
.mybo{
    border: 1px solid #E8E8E8;
    padding: 25px;
}
.yels{
    text-align: right;
}

#dealnum{
    text-align: right;
}
.bignu{
    font-size: 30px;
    color: #FE8800;
  }

.myuspcir{
    margin: 0 auto;
    background: red;
}
/*交易*/
.myuspjy{
   overflow: hidden;
}
.cir44{
    margin: 0 auto;
    width: 60%;
}
.cir4{
    text-align: center;
}

.cir{
    width: 88px ;
    height:88px;
    background-size: 88px 88px !important;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 10px;
}
.fir{
    width: 50px ;
    height: 50px;
    margin: 0 auto;
    margin-top: 45px;
    background-size: 50px 50px !important;
}

#cir1{
    background: url("../../static/imgs/myunspay/B1.png");
}
#cir2{
    background: url("../../static/imgs/myunspay/B2s.png");
}
#cir3{
    background: url("../../static/imgs/myunspay/B3.png");
}
#cir4{
    background: url("../../static/imgs/myunspay/B4.png");
}
#fiv11{
       background: url("../../static/imgs/myunspay/B9.png");
}
#fiv12{
    background: url("../../static/imgs/myunspay/B10.png");
}
#fiv13{
     background: url("../../static/imgs/myunspay/B11.png");
}
#fiv14{
   background: url("../../static/imgs/myunspay/B12.png");
}
#fiv15{
    background: url("../../static/imgs/myunspay/B13.png");
}
#fiv16{
    background-position: -1054px -34px ;
}
#fiv17{
    background-position: -1054px -34px ;
}
#fiv21{
    background: url("../../static/imgs/myunspay/B14.png");
}
#fiv22{
    background: url("../../static/imgs/myunspay/B15.png");
}
#fiv23{
    background: url("../../static/imgs/myunspay/B16.png");
}
#fiv24{
    background: url("../../static/imgs/myunspay/B17.png");
}
#fiv25{
    background: url("../../static/imgs/myunspay/B18.png");
}
#fiv26{
    background-position: -1050px 0 ;
}
#fiv27{
    background-position: -1050px 0 ;
}

.tit{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 12px 20px;
}
.five{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.five p b {
      color: #333;
}
.col-five{
    float: left;
    width: 20%;
    height: 200px;
    text-align: center;
    border-right: 1px solid #E8E8E8;
}
.col-five p{
    margin: 10px 0;
}
.col-five:last-child{
    border-right: none;
}
/*浅色字*/
.whi{
    color: #AEAEAE;
}


.myTab .active a{
    background: red !important;
}

.nav-tabs>li>a {
    border-radius: 0 0 0 0 ;
}

#chongzhi{
    width:100%;
    height: 100px;
}
#tixian{
    width:100%;
    height: 100px;
}
.f16{
    font-size: 16px;
    color: #6A6A6A;
}
.zhlone{
    width: 50%;
    float: left;
}


#myTabContent table td{
    border-right:none;
    border-left:none
}
#myTabContent table th{
       background:#F7F7F7 ;
       border:none;
}
#myTabContent tbody td{
   line-height: 44px;
    height: 44px;
}
#myTabContent tfoot span{
color:#F19242 ;
}
.tti{
    line-height: 22px !important;
}
.nav>li>a {
    padding: 10px 35px;
}
.fixed-table-container{
    border: none !important;
}
.jiaoyifoot{
    background: #F7F7F7;
    border-left: none;
    width: 100%;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.fyr{
     float: right;
 }
.fyl{
     float:left;
    text-indent: 35px;
}

#nowpa{
    border: 1px solid #DFDFDF;
    padding: 5px 10px;
    background: #FFFFFF;
}
.paac{
    color: #ED710D
}
.bigtu{
    width: 100%;
    overflow: hidden;
    background: #FFFFFF
}
.bigtu1{
    width: 100%;
    background: url("../../static/logind/myusp/foot.jpg");
    height: 296px;
}


.skyhzh{
    padding: 0 25px;
    margin-right: 18px;
}
.witimg1{
    background: url("../../static/logind/withc/widstep1.jpg");
    background-size: 1200px 149px;
    width: 100%;
    height: 149px;
}
.witimg2{
    background: url("../../static/logind/withc/widstep2.jpg");
    background-size: 1200px 149px;
    width: 100%;
    height: 149px;
}
.witimg3{
    background: url("../../static/logind/withc/widstep3.jpg");
    background-size: 1200px 149px;
    width: 100%;
    height: 149px;
}
.wittop{
    text-align: right;
}

.cir44 .col-md-3{
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #E8E8E8;
}
.five .col-md-3{
    text-align: center;
    padding: 40px 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
