.myusp{
    background: #F7F7F7;
    font-family: "Microsoft YaHei";
}

.myuspban{
    width: 100%;
    height: 175px;
    background:url("/imgs/myunspay/wodeyinshengbao1.png") repeat-x;
    background-size: 100% 100%;
}

/*fix*/
.fix{
    position: fixed;
}
#fixl{
    width: 240px;
    overflow: hidden;
}
.myusp a:hover{
    text-decoration: none;
}
/*banner*/
.banner_text{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.myusptip{
     line-height: 60px;
     letter-spacing: 1px;
}
.ljgdd{
    display: inline-block;
    width: 80px;
    background: white;
    border-radius: 10px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    line-height: 20px;
}
.cc{
    background: #00A0E8;
    color: white !important;
    border-radius: 5px;
    padding: 5px;
}

/*头像部分*/
.myusptx{
    position: absolute;
    bottom: 26px;
    left: 0;width: 100%;
    color: white !important;
}
.myusptx a{
     color: white
 }
.myusptx .col-md-3{
     line-height: 30px;
     float: right;
     width: 370px !important;
    margin-left: -200px;
 }
.myusptx .col-md-1{
      margin-right: -30px;
}
.myusptx .col-md-8{
    line-height: 30px;
    width: 810px !important;
    margin-right: -200px;
}
.myusptx .col-md-3>div{
    height: 30px;
}
.myusptx .col-md-3 .progress{
    margin-bottom: 0;
    width: 100%;
    margin-top: 0 !important;
    height: 6.2px !important;
}
.jjd{
    width: 60%;
    padding-top: 13px
}

.myusptx .col-md-8{
    line-height: 30px;
 }
.myusptx .col-md-8 div{
    line-height: 30px;
    height: 30px;
}
.c8top{
    font-size: 18px;
}
.toux{
    background: url("/imgs/myunspay/toux.png");
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}
.rz{
    margin: 0 15px;
    position: relative;
}
.rz span{
    font-size: 14px;
}
.rz:hover span{
    display: block;

}
.rz span{
    display: none;
    width: 120px;
    background: white;
    position: absolute;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    top:-55px;
    left: -5px;
    color: #000000;
    box-shadow: 0 1px 5px #000;
}
.smicon1{
    background: url("/imgs/myunspay/toux1.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
.smicon2{
    background: url("/imgs/myunspay/toux2.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
.smicon3{
    background: url("/imgs/myunspay/toux3.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
}


/*我的账户*/

.myuspf {
    border-right: 1px solid #ECECEC;
    height: 100%;
    margin-bottom: 25px;
}
.myuspzh,.myusppay,.myusplive,.myuspjy{
    border: 1px solid #ECECEC;
    overflow: hidden;
    margin-bottom: 40px;
    background: white;
}

.myuspzh{
    overflow: hidden;
}
            .myuspl{
                 float: left;
                 overflow: hidden;
                 width: 50%;
                  padding: 25px 25px;
                border-right: 1px solid #ECECEC;
                height: 100%;
             }
            .myuspl>div{
                width: 50%;
                float: left;
                height: 60px;
            }
            .myuspr{
                float: left;
                overflow: hidden;
                width: 50%;
                padding: 25px 25px;
                height: 100%;
            }
            .crecard{
                display: inline-block;
                border: 1px solid #E8E8E8;
                width: 49%;
                float: left;
                padding: 16px 20px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                text-align: center;
                line-height: 24px;
                vertical-align:middle;
            }
            .crecardr{
                float: right;
                border: 1px dashed #E8E8E8 ;
                cursor: pointer;
                background: #F7F7F7;
            }
            .myuspzhbo{
                    width: 100%;
                    padding: 0;
                    border-top: 1px solid #ECECEC;
                    float: left;
                }

.myuspr p{
      margin-bottom: 5px;
}
.myuspzhr span{
    color: #FE8800; ;
}

#myuspname{
    font-size: 18px;
}
.mybo{
    border: 1px solid #E8E8E8;
    padding: 25px;
}
.yels{
    text-align: right;
}

#dealnum{
    text-align: right;
}
.bignu{
    font-size: 30px;
    color: #FE8800;
  }

.myuspcir{
    margin: 0 auto;
    background: red;
}
/*交易*/
.myuspjy{
   overflow: hidden;
}
.cir44{
    margin: 0 auto;
    width: 60%;
}
.cir4{
    text-align: center;
}

.cir{
    width: 88px ;
    height:88px;
    background-size: 88px 88px !important;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 10px;
}
.fir{
    height: 50px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 20px;
    background-size: 50px 50px !important;
}

#cir1{
    background: url("/imgs/myunspay/B1.png");
}
#cir1:hover{
    background: url("/imgs/myunspay/B1s.png");
}
#cir2{
    background: url("/imgs/myunspay/B2s.png");
}
#cir2:hover{
    background: url("/imgs/myunspay/B2s.png");
}
#cir3{
    background: url("/imgs/myunspay/B3.png");
}
#cir3:hover{
    background: url("/imgs/myunspay/B3s.png");
}
#cir4{
    background: url("/imgs/myunspay/B4.png");
}
#cir4:hover{
    background: url("/imgs/myunspay/B4s.png");
}


#fiv11{
       background: url("/imgs/myunspay/B9.png");
}
#fiv12{
    background: url("/imgs/myunspay/B10.png");
}
#fiv13{
     background: url("/imgs/myunspay/B11.png");
}
#fiv14{
   background: url("/imgs/myunspay/B12.png");
}
#fiv15{
    background: url("/imgs/myunspay/B13.png");
}
#fiv16{
    background-position: -1054px -34px ;
}
#fiv17{
    background-position: -1054px -34px ;
}
#fiv21{
    background: url("/imgs/myunspay/B14.png");
}
#fiv22{
    background: url("/imgs/myunspay/B15.png");
}
#fiv23{
    background: url("/imgs/myunspay/B16.png");
}
#fiv24{
    background: url("/imgs/myunspay/B17.png");
}
#fiv25{
    background: url("/imgs/myunspay/B18.png");
}
#fiv26{
    background-position: -1050px 0 ;
}
#fiv27{
    background-position: -1050px 0 ;
}

.tit{
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding: 12px 20px;
    font-size: 16px;
}
.five{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.five p b {
      color: #000;
    font-size: 18px;
    font-weight: normal;
}
.col-five{
    float: left;
    width: 20%;
    height: 200px;
    text-align: center;
    border-right: 1px solid #E8E8E8;
}
.yyzx .col-five{
    float: left;
    width: 25%;
    height: 200px;
    text-align: center;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}
.col-five p{
    margin: 16px 0;
}
/*浅色字*/
.whi{
    color: #AEAEAE;
    padding: 5px;
}




#chongzhi{
    width:100%;

}
#tixian{
    width:100%;

}
.f16{
    font-size: 16px;
    color: #6A6A6A;
}
.zhlone{
    width: 50%;
    float: left;
}


/*#myTabContent table td{*/
    /*border-right:none;*/
    /*border-left:none*/
/*}*/
/*#myTabContent table th{*/
       /*background:#F7F7F7 ;*/
       /*border:none;*/
/*}*/

/*#myTabContent tfoot span{*/
/*color:#F19242 ;*/
/*}*/
/*#myTabContent .nav>li>a {*/
    /*padding: 10px 35px;*/
/*}*/
/*.myTab .active a{*/
    /*background: red !important;*/
/*}*/

.bo .nav-tabs li {
   width: 153px;
    text-align: center;
    margin-bottom: -1px;
}
.bo .nav-tabs .active a {
      background: #F7F7F7;
      border-top: none !important;
      border-radius: 0 0 0 0 !important;
}
.bo #myTabContent thead {
    background: #F7F7F7;
}
.bo #myTabContent tbody td{
    line-height: 44px;
    height: 44px;
}
.tti{
    line-height: 22px !important;
}

.fixed-table-container{
    border: none !important;
}
.jiaoyifoot{
    background: #F7F7F7;
    border-left: none;
    width: 100%;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.fyr{
     float: right;
 }
.fyl{
     float:left;
    text-indent: 35px;
}

#nowpa{
    border: 1px solid #DFDFDF;
    padding: 5px 10px;
    background: #FFFFFF;
}
.paac{
    color: #ED710D
}
.bigtu{
    width: 100%;
    overflow: hidden;
    background: #FFFFFF
}
.bigtu1{
    width: 100%;
    background: url("../../static/logind/myusp/foot.jpg");
    height: 296px;
}


.skyhzh{
    padding: 0 0 0 5px;
    margin-right: 18px;
    width: 185px;
}
.witimg1{
    background: url("/imgs/logind/common/step1.jpg");
    background-size: 1200px 111px;
    width: 100%;
    height: 111px;
}
.witimg2{
    background: url("/imgs/logind/common/step2.jpg");
    background-size: 1200px 111px;
    width: 100%;
    height: 111px;
}
.witimg3{
    background: url("/imgs/logind/common/step3.jpg");
    background-size: 1200px 111px;
    width: 100%;
    height: 111px;
}
.wittop{
    text-align: right;
    margin-top: 30px;
}

.cir44 .col-md-3{
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #E8E8E8;
}
.five .col-md-3{
    text-align: center;
    padding: 40px 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.bo .nav-tabs > li.active > a,
.bo .nav-tabs > li.active > a:focus,
.bo .nav-tabs > li.active > a:hover{
    border: 1px solid #F7F7F7;
    border-right: none;
    border-left:none;
}
.bo .nav-tabs{
    border-bottom: none;
}
.bo .nav-tabs > li.active{
    border-left:none;
    border-bottom: 1px solid #F7F7F7;
}
.bo .nav-tabs > li{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.bo #myTabContent tbody tr:nth-child(odd){
       background: #F7F7F7
}
.myuspbottom{
    float: left;
    text-align: center;
    width: 25%;
}
.d4{
    width: 23%;
    display: inline-block;
    text-align: center;
}
.bo .tad-pane_box{
        background: #F7F7F7;
}