body {
	color: #555;
	font-size: 14px;
}

.carousel-inner{position: relative;}
.carousel-inner img{width: 100%;height: 100%;}
.fixe a{color: #fff;width: 189px;height: 35px;display: inline-block;}
.fixe{top:35%;right:20%;position: absolute;}
.fixe>div{width: 189px;height: 35px;line-height: 35px;text-align: center;color: #fff;border-radius:5px;margin:30px 0;font-size: 14px;}
.fixe .fixe_top{background-color: #019FE8;}
.fixe .fixe_bottom{border: 1px solid #FFFFFF;opacity:1;}
.carousel-indicators li{background-color: #fff;margin: 0 3px;}
.carousel-indicators .active{width: 35px;height: 10px;}


/*第一部分*/

.container {
	width: 1200px;
	margin: 0 auto;
}

.centre {
	width: 1200px;
	margin: 0 auto;
}

.announcement {
	margin-top: 30px;
	border-bottom: 1px solid #ECECEC;
}

.announcement> div {
	float: left;
	width: 33.2%;
	padding: 20px 0 36px 20px;
}

.announcement> div .border {
	border-right: 1px solid #ECECEC;
}

.announcement> div .border p {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
}

.announcement_right {
	float: right;
	margin-left: 0;
	width: 76%;
	padding-right: 15px;
}

.announcement_right span {
	display: inline-block;
	line-height: 30px;
	font-size: 14px;
	color: #585858;
}

.announcement_right span a {
	color: #585858;
	text-decoration: none;
}


/*文字滚动*/

.scrollbox {
	width: 340px;
	margin: 0 auto;
	overflow: hidden;
}

#scrollDiv {
	width: 340px;
	height: 65px;
	overflow: hidden;
}


/*这里的高度和超出隐藏是必须的*/

#scrollDiv li {
	width: 300px;
	overflow: hidden;
	vertical-align: bottom;
	zoom: 1;
}

#scrollDiv li h3 {
	font-size: 14px;
	color: #353535;
	width: 300px;
	margin: 0;
	line-height: 30px;
}

#scrollDiv li h3 a {
	color: #585858;
	text-decoration: none;
}

#scrollDiv li h3 a:hover {
	color: #F00;
}

.scroltit {
	height: 26px;
	line-height: 26px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.scroltit h3 {
	width: 100px;
	float: left;
}

.scroltit .updown {
	float: right;
	width: 32px;
	height: 22px;
	margin-left: 4px;
}

#but_up {
	background: url("images/up.gif") no-repeat 0 0;
	text-indent: -9999px;
}

#but_down {
	background: url("images/down.gif") no-repeat 0 0;
	text-indent: -9999px;
}


/*第二部分*/

.welcome> div {
	float: left;
}

.welcome_left {
	padding: 50px 0 100px 0;
	text-align: left;
}

.welcome_left p {
	line-height: 30px;
	color: #585858;
}

.welcome_left h1 {
	padding: 20px 0;
	font-size: 40px;
	color: #585858;
}

/*第四部分*/

.lift {
	margin-top: 80px;
}

.lift .lijishiyong{position: relative;}
.lift .lijishiyong_a{position: absolute;bottom:14%;right:44%;width: 189px;height: 35px;line-height: 35px;display: inline-block;color: #fff;text-align: center;
border: 1px solid #fff;border-radius:5px;font-size: 17px;opacity: .8;}
.lift .lijishiyong_a a{color: #fff;}
/*.lift .lijishiyong_a:hover{background-color:#19A8E8;}*/
.lift .lijishiyong_a a:hover{text-decoration: none;}

.lift .lift_tu1{position: absolute;bottom:40%;right:42%;background: url(imgs/index/LIFT.png)no-repeat 50% 50%;width:16%;height:45%;}
.lift .lift_tu{position: absolute;bottom:40%;right:42%;width:16%;height:45%;border: 1px solid #e4e4e4;border-radius:50% ;}
.lift .lift_tu .em1{position: absolute;bottom:80%;left: 84%;width: 20px;height: 20px;background-color: #fff;border-radius:50% ;}
.lift .lift_tu .em2{position: absolute;bottom:47%;left: 98%;width:13px;height: 13px;background-color: #fff;border-radius:50% ;}
.lift .lift_tu .em3{position: absolute;bottom:10%;left:15%;width:13px;height: 13px;background-color: #fff;border-radius:50% ;}


.lift .lift_tu{animation: rond 3s infinite;
    -webkit-animation: rond 3s infinite;}

@keyframes rond {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

@-webkit-keyframes rond {
    0%{-webkit-transform : rotate(0deg);}
  100%{-webkit-transform : rotate(360deg);}
}

/*屏幕 最小1000px到最大1600px*/
   @media only screen and (min-width: 1000px) and (max-width:1500px) {
	.lift .lift_tu .em1{position: absolute;bottom:80%;left: 81%;width: 20px;height: 20px;background-color: #fff;border-radius:50% ;}
.lift .lift_tu .em2{position: absolute;bottom:47%;left: 97%;width:13px;height: 13px;background-color: #fff;border-radius:50% ;}
.lift .lift_tu .em3{position: absolute;bottom:10%;left:13%;width:13px;height: 13px;background-color: #fff;border-radius:50% ;}

   }



.lift a img {
	width: 100%;
}

.lift .lift_top {
	width: 100%;
	border-bottom: 1px solid #e4e4e4;
}

.lift .lift_top .centre {
	width: 1100px;
	margin: 0 auto;
}

.lift .lift_top .centre> div {
	float: left;
	width: 157px;
	height: 227px;
	text-align: center;
}

/*.lift .lift_top .centre> div img {
	padding: 16px 0;
}*/

.lift .center_box {
	height: 140px;
	width: 157px;
	margin-top:35px;
	border-right: 1px solid #ECECEC;
	margin-left: 1px;
}
.payment_top a{text-decoration: none;}
.center_box p {
	padding: 0 20px;
	font-size: 16px;
	color: #7A7979;
}

.beautify {
	cursor: pointer;
}


/*第五部分*/

.cooperation {
	padding: 80px 0;
}

.cooperation p {
	padding: 10px 0;
}

.cooperation ul {
	margin-bottom: 0;
}

.cooperation ul li {
	float: left;

}

.cooperation ul li img {
	width: 100%;
	height: 100%;
}

.cooperation ul li {
	padding: 5px;
}

.cooperation .centre> div {
	width: 33.3%;
	float: left;
}

.cooperation .centre .centre_time p em {
	padding: 5px 20px 5px 0;
	display: inline-block;
	font-size: 14px;
	color: #4A4A4A;
}

.cooperation .centre> div .city {
	display: block;
	width: 280px;
	padding-top: 0;
}

.cooperation .centre> div p {
	padding: 5px 0;
}

.cooperation .centre p {
	font-size: 18px;
	color: #585858;
}

.cooperation .centre .centre_time p {
	font-size: 14px;
	color: #333;
}

.cooperation em {
	font-weight: normal;
}
.beautify .center_box img{padding: 16px 0;}
/*
 section-transfer
 * */
/*.section-transfer {

	height: 500px;
}

.section-transfer .container {
	position: relative;
}

.section-transfer .row {
	width: 100%;
	height: 500px;
}
.section-transfer .container .row-bg {
	position: absolute;
	top: 0;

} */
.lift_top .active {
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
    filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
    box-shadow: 0px 0px 4px 2px #e4e4e4;
}