/***********************************************************************************************/


/*个人登录   页面*/

.login {
	width: 100%;
	background-color: #F7F7F7;
}

.login_box {
	padding: 30px 0 130px 0;
}

.login_box>div {
	float: left;
}

.login_box .login_left img {
	width: 100%;
	height: 100%;
}

.login_box .login_right {
	width: 405px;
	border: 1px solid #e4e4e4;
	text-align: center;
	background-color: #fff;
}

.login_box .login_right h1 {
	padding: 15px 0;
	border-bottom: 1px solid #e4e4e4;
	text-align: left;
	padding-left: 40px;
	font-size: 20px;
	color: #333;
}


/*.login_box .login_right ul li{padding:20px 0 8px 0;}*/


/*.login_box .login_right ul li~li{padding:8px 0 0px 0;}*/

.login_box .login_right ul li.yanzhengma input {
	width: 53%;
	float: left;
	margin-left: 36px;
}

.login_box .login_right ul li input {
	width: 332px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #e4e4e4;
	text-indent: 1.5em;
	border-radius: 5px;
	letter-spacing: 1px;
}

.login_box .login_right ul li em {
	width: 25%;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	background-color: pink;
	float: right;
	margin-right: 36px;
}

.login_box .login_right ul li button {
	width: 332px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #009FE8;
	border-radius: 4px;
	color: #fff;
	background-color: #fff;
	display: inline-block;
	cursor: pointer;
}

.login_box .login_right .login_text {
	padding: 20px 0;
}

.login_box .login_right ul li p {
	display: inline-block;
	width: 290px;
	height: 20px;
	text-align: left;
	font-size: 12px;
	color: red;
	text-indent: 2em;
}

.login_box .login_right .login_text .login_one {
	float: left;
	margin-left: 40px;
}

.login_box .login_right .login_text .login_one input {
	vertical-align: middle;
	padding-right: 5px;
	margin-top: 2px;
	width: 15px;
	height: 15px;
}

.login_box .login_right .login_text .login_one em {
	vertical-align: middle;
	margin-left: 5px;
}

.login_box .login_right .login_text .login_two {
	margin-left: 40px;
}

.login_box .login_right .login_text .login_three {
	float: right;
	margin-right: 40px;
}

.login_box .login_right .login_text a {
	color: #009FE8;
}

.login_text .panel-title a {
	text-decoration: none;
}

.login_text .panel-title a:hover {
	color: #009FE8;
	text-decoration: none;
}


/***********************************************************************************************/


/*个人注册   页面*/

.personal-box {
	width: 100%;
	background-color: #F7F7F7;
	padding: 50px 0 100px 0;
}


/*进度条  部分*/

.bar_article {
	width: 1000px;
	margin: 0 auto;
}

.bar_article ul {
	float: left;
	width: 100%;
	padding: 50px 50px 20px 50px;
}

.bar_article ul li {
	float: left;
	width: 33%;
	text-align: right;
	padding-top: 10px;
}

.bar_article ul li p {
	margin: 10px;
	color: #585858;
	text-align: center;
	font-size: 15px;
}

.bar_article .zhong>div {
	display: block;
	float: left;
}

.bar_article .zhong {
	width: 300px;
	height: 45px;
	position: relative;
}

.bar_article .yuan {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #D5D5D5;
	margin: 5px 0;
	z-index: 2;
	position: absolute;
	left: 45%;
}

.bar_article .yuan em {
	float: left;
	margin-left: 11px;
	margin-top: 5px;
	color: white;
}

.bar_article .tiao {
	width: 50%;
	height: 11px;
	background-color: #dcdcdc;
	margin-top: 14px;
}

.bar_article .zhong .one {
	background-color: #019FE8;
}


/*注册  部分*/

.registered {
	width: 1000px;
	border: 1px solid #E8E8E8;
	margin: 0 auto;
	background-color: #fff;
}

.registered h1 {
	display: block;
	padding: 20px 0;
	text-indent: 2em;
	font-size: 22px;
	border-bottom: 1px solid #E8E8E8;
	color: #585858;
}

.registered .registered_box {
	text-align: center;
	padding: 50px 0;
}

.registered .registered_box ul li i {
	width: 300px;
	display: inline-block;
	font-style: normal;
	text-align: left;
	margin-left: 10px;
	color: #FF8700;
	height: 43px;
	line-height: 43px;
	padding-left: 5px;
	background-color: #F7F7F7;
}

.registered .registered_box ul li input {
	margin: 20px 0;
	width: 330px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #e4e4e4;
	text-indent: 1.5em;
	border-radius: 5px;
	letter-spacing: 1px;
}

.registered .registered_box ul li.code input {
	width: 15%;
}

.registered .registered_box ul li.code span {
	width: 10%;
	display: inline-block;
	height: 50px;
	background-color: pink;
	float: rigth;
	margin-left: 20px;
	vertical-align: middle;
}

.registered .registered_box ul li.login_text input {
	vertical-align: middle;
	padding-right: 5px;
	width: 15px;
	height: 15px;
	margin-top: 17px;
}

.registered .registered_box ul li.login_text {
	margin-left: -345px;
}

.registered .registered_box ul li button {
	width: 290px;
	height: 45px;
	line-height: 45px;
	border-radius: 4px;
	color: #fff;
	background-color: #D5D5D5;
	border: none;
	margin-top: 50px;
	margin-left: -258px;
}

.registered .registered_box i b {
	background: url(/imgs/icons/A2.png);
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -2px;
}


/************************************************************************************************/

.modal .modal-header .modal-title {
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 10px;
	font-weight: bold;
}

.modal .modal-body .modal-body_top {
	width:480px;
	text-align: left;
	margin: 0 auto;
}

.modal .modal-body .modal-body_top p {
	padding: 5px 0;
}

.modal .modal-body .modal-body_top p~p {
	margin-left: 45px;
}

.modal .modal-body .modal-body_bottom {
	width: 390px;
	text-align: left;
	margin: 0 auto;
	border: 1px solid #e4e4e4;
	padding: 5px 0;
}

.modal .modal-body .modal-body_bottom p {
	padding: 5px 10px;
}

.modal .modal-body p button {

	border: none;
	width: 116px;
	height: 30px;
	line-height: 30px;
	
	color: #333;
}

.modal .modal-body .panel .panel-title a:hover {
	color: #009FE8;
}


/*注册下一步*/

.form-group input {
	width: 329px;
	height: 44px;
	line-height: 44px;
	text-indent: 1em;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	display: inline;
}

.form-group .control-label {
	width: 210px;
	text-align: right;
}

.form-group .col-lg-5 {
	padding-left: 0px;
}

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.personal_top .form-horizontal label {
	padding-right: 30px;
	font-weight: normal;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #585858;
}

.personal_top .form-group {
	padding: 25px 0;
	margin-bottom: 0;
}

select.form-control {
	width: 329px;
	height: 44px;
	line-height: 44px;
	text-indent: 1em;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
}

.login_box #defaultForm .form-group{
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	margin-right: 0px;
	width: 100%;
}
#defaultForm label{float: left;}
#defaultForm .form-group .button_btn button{width: 329px;height: 44px;margin-left: 0;margin: 10px 0;}
#defaultForm .form-group .button_btn button:hover{background-color: #0068B6;}
.login_box #defaultForm .form-group .button_btn{margin-left: 0;padding:0;}

.login_box #defaultForm .form-group .button_btn .btn-primary2{width: 329px;height: 44px;line-height:30px;background-color: #fff;color: #009FE8;border: 2px solid #009FE8;}
#defaultForm .form-group .button_btn .btn-primary{border: none;background-color: #00A0E8;}
.login_box #defaultForm .form-group .errorholder{width:200px;height: 25px;float: left;margin-left: 0;text-align: left;}
.login_box #defaultForm .form-group .errorholder small{color: #FF8700;}
.login_box .ysbformvalidate .has-feedback .form-control-feedback {
    background: url(/static/css/img/form-error.png) no-repeat 10px 9px;
}
.login_box .ysbformvalidate .has-feedback.has-error .errorholder{line-height: 32px;}
.login_box .ysbformvalidate .has-feedback.has-error .errorholder{background-color: transparent;}

.personal_top .button_btn #btnSubmit {
	width: 329px;
	height: 44px;
	line-height: 32px;
	background-color: #D5D5D5;
	color: #fff;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	letter-spacing: 5px;
	border-color: whitesmoke;
}

.personal_top .button_btn #btnSubmit:hover {
	background-color: #00A0E8;
}

.button_btn {
	margin-left: 210px;
	padding: 30px 0;
}

.personal_top_btn {
	padding: 40px 20px 20px 0;
}

.form-group .col-md-3 b {
	font-size: 19px;
	vertical-align: middle;
	color: #FF8700;
	font-style: normal;
	font-weight: normal;
}

.biaodan .form-group .col-md-8 {
	padding-left: 0px;
}

.personal_top em {
	width: 150px;
	display: inline-block;
	text-align: left;
	margin-left: 55px;
}

.personal_top em.left {
	font-size: 18px;
	color: #00A0E8;
}

.personal_top span.right {
	font-size: 14px;
	color: #585858;
}

.registered form .yanzhen #setting {
	display: inline-block;
	float: right;
	width: 320px;
	display: inline-block;
	font-style: normal;
	text-align: left;
	margin-right: 115px;
	color: #FF8700;
	height: 43px;
	line-height: 43px;
	padding-left: 5px;
	background-color: #F7F7F7;
}

.registered form .yanzhen #setting b {
	background: url(/imgs/icons/A2.png)no-repeat 10px 0.5px;
	width: 25px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

.registered form .yanzhen #setting1 {
	display: inline-block;
	float: right;
	width: 320px;
	display: inline-block;
	font-style: normal;
	text-align: left;
	margin-right: 115px;
	color: #FF8700;
	height: 43px;
	line-height: 43px;
	padding-left: 5px;
	background-color: #F7F7F7;
}

.registered form .yanzhen #setting1 b {
	background: url(/imgs/icons/A2.png)no-repeat 10px 0.5px;
	width: 25px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

#myModal1 .modal-content {
	width: 780px;
	margin-left: -70px;
}

#myModal1 .modal-content .text {
	width:100%;
	height: 500px;
	line-height:34px;
	border:none;
}

#myModal1 .modal-content p {
	font-weight: bold;
	padding: 5px 0;
	font-size: 15px;
}

/***************************************************************************************************/


/*注册完成*/

.registered .complete {
	width: 100%;
	text-align: center;
}

.registered .complete>div {
	padding: 80px 0;
}

.registered .complete>div em img {
	vertical-align: middle;
	margin-right: 20px;
}

.registered .complete>div em.test {
	font-size: 20px;
	color: #4A4A4A;
}

.registered .complete>div em.test span {
	color: #EE8719;
}

.registered .complete>div p {
	padding: 50px 0;
	font-size: 14px;
	color: #595959;
	font-family: "微软雅黑";
}

.registered .complete>div p a {
	margin-left: 10px;
	color: #24ADEB;
}


/***********************************************************************************************/


/*忘记密码   页面*/

.ysbformvalidate .has-feedback.has-error .errorholder {
	    display: block;
    float: left;
    width: 284px;
    margin-left: 20px;
    background-color: #F5F5F5;
    height: 44px;
    line-height: 44px;
}
.ysbformvalidate .has-feedback.has-error input{display: inline-block;}

.ysbformvalidate .has-error .help-block{color: #FF8700;}

/*.ysbformvalidate .has-feedback .form-control-feedback{
	position: relative;
    float: left;
    background-color: pink;
}

.ysbformvalidate .has-feedback .form-control-feedback{
	background: url(/static/css/img/form-error.png) no-repeat 10px 15px;
}*/









/*.forgot_password_box form #setting {
	display: inline-block;
	float: right;
	width: 240px;
	display: inline-block;
	font-style: normal;
	text-align: left;
	margin-right: 70px;
	color: #FF8700;
	height: 43px;
	line-height: 43px;
	padding-left: 5px;
	background-color: #F7F7F7;
}

.forgot_password_box form #setting b {
	background: url(/imgs/icons/A2.png)no-repeat 10px 0.5px;
	width: 25px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

.forgot_password_box form #setting1 {
	display: inline-block;
	float: right;
	width: 240px;
	display: inline-block;
	font-style: normal;
	text-align: left;
	margin-right: 70px;
	color: #FF8700;
	height: 43px;
	line-height: 43px;
	padding-left: 5px;
	background-color: #F7F7F7;
}*/

.forgot_password_box form #setting1 b {
	background: url(/imgs/icons/A2.png)no-repeat 10px 0.5px;
	width: 25px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

.forgot_password_box {
	width: 100%;
	background-color: #F7F7F7;
	padding: 50px 0 100px 0;
}

.forgot_password_box .password {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid #e4e4e4;
	background-color: #fff;
}

.password h1 {
	font-size: 22px;
	color: #585858;
	padding: 20px;
	border-bottom: 1px solid #e4e4e4;
	text-indent: 0.5em;
}

.forgot_password .password_content {
	padding:30px 0 50px 0;
}

.forgot_password .password_content>div {
	padding: 20px 0;
}

.forgot_password .password_content span {
	color: #585858;
	font-size: 14px;
	margin-left:31px;
}

.forgot_password .password_content .yanzhen {
	margin-left: 120px;
	margin-top: 20px
}

.forgot_password .password_content>div em {
	width: 200px;
	display: inline-block;
	text-align: right;
	padding-right: 15px;
}

.password_content .yanzhen input {
	width: 329px;
	height: 44px;
	line-height: 44px;
	text-indent: 1em;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
}

.password_content .yanzhen i {
	font-size: 19px;
	color: #FF8700;
	font-style: normal;
	vertical-align: middle;
}

.password_content .yanzheng input {
	width: 154px;
	height: 44px;
	line-height: 44px;
	text-indent: 1em;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
}

.password_content .yanzheng span {
	width: 10%;
	display: inline-block;
	height: 44px;
	background-color: pink;
	float: rigth;
	margin-left: 20px;
	vertical-align: middle;
}
/*
.password_content .button {
	width: 329px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	background-color: #19A8E8;
	color: #fff;
	text-align: center;
	display: inline-block;
}*/


/*忘记密码 2*/

.forgot_password h2 {
	font-size: 14px;
	color: #585858;
	padding: 20px 20px 0 3px;
	text-indent: 2em;
}

.forgot_password .bar_article ul {
	border-bottom: 1px solid #e4e4e4;
}

.forgot_password .content .yanzhen span {
	color: #EE8719;
	margin: 0;
}

.forgot_password .content .test {
	padding: 0 0px 20px 0px;
}

.forgot_password .content .yanzhen {
	font-size: 14px;
}

.forgot_password .content .tishi {
	width: 947px;
	background-color: #F7F7F7;
	margin: 10px auto 30px auto;
	padding: 30px 0;
}

.forgot_password .content .tishi bb {
	background: url(/imgs/icons/B3-2.png)no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 20px;
	margin-top: -2px;
}

.content .tishi .yanzheng {
	margin-left: 75px;
}

.content .tishi p {
	padding: 0px 0 30px 30px;
}

.forgot_password .password_content .yanzhen3 {
	margin-left: 43px;
}

.forgot_password .password_content .yanzhen3 em {
	width: 290px;
}

.forgot_password .password_content .yanzhen3 span {
	color: #00A0E8;
}

.forgot_password .content .tishi3 p {
	padding: 0px 0 15px 30px;
}

.forgot_password .content .tishi3 b {
	background: url(/imgs/icons/B3-2.png)no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 20px;
}


/*忘记密码 5*/

.forgot_password .complete {
	width: 100%;
	text-align: center;
}

.forgot_password .complete>div {
	padding: 80px 0;
}

.forgot_password .complete>div em img {
	vertical-align: middle;
	margin-right: 20px;
}

.forgot_password .complete>div em.test {
	font-size: 20px;
	color: #4A4A4A;
}

.forgot_password .complete>div p {
	padding: 50px 0;
	font-size: 14px;
	color: #595959;
	font-family: "微软雅黑";
}

.forgot_password .complete>div p a {
	margin-left: 10px;
	color: #24ADEB;
}


/*帐号激活*/

.jihuo {
	background-color: #F7F7F7;
}

.jihuoma {
	width: 89px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #e4e4e4;
	margin-left: 0;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	background-color: #F7F7F7;
	cursor: pointer;
}

.password_content .jihuo b {
	background: url(/imgs/icons/B3-2.png)no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 20px;
	margin-top: -2px;
}


/********************************************************************************************************/

/*反洗钱  公告页面*/
.moneylaundering-affiche .affiche h1{font-size: 40px;text-align: center;padding:50px 0 60px 0;}
.moneylaundering-affiche .affiche{padding: 30px 0 100px 0;}
.moneylaundering-affiche .affiche p{padding:10px 0;text-indent: 2em;font-size: 16px;}
.moneylaundering-affiche .affiche p em{font-weight: bold;}
.moneylaundering-affiche .affiche p.right{margin-left: 500px;margin-top: 40px;}
/*反洗钱公告页*/








/*反洗钱   页面*/

.money-laundering {
	width: 100%;
	background-color: #F7F7F7;
	padding: 30px 0 70px 0;
}

.money-laundering .money {
	border: 1px solid #e4e4e4;
	background-color: #fff;
}

.money-laundering .money .money_box {position: relative;
	height: 1766px;
	margin: 10px;
	padding: 30px 0 80px 0;
	/*background-color: #EEEEEE;*/
	background: url(imgs/safe/fan7.png)347px 283px no-repeat #EEEEEE;
}
.money-laundering .money .money_box .text {
	position: absolute;
	bottom:100px;
	left: 100px;
	width: 970px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 40px;
	text-indent: 2em;
	padding: 20px 0;
}
.money-laundering .money .money_box h1 {
	text-align: center;
	display: block;
	padding: 50px 0 20px 0;
	font-size:71px;
}

.money-laundering .money .money_box ul {
	margin-left: 30px;
	margin-top: 50px;
}

.money-laundering .money .money_box ul li {
	float: left;
	padding: 22px;
	width: 19%;
	text-align: center;
	margin:3px;
}
.money-laundering .money .money_box ul li p{padding: 25px 0;}



/***********************************************************************************************/
/*反欺诈 页面*/
.fqz .img {
	width: 100%;
}

.fqz .img img {
	width: 100%;
}
.fqz_box{position: relative;}
.fqz_box h1 {
	padding: 50px 0 30px 0;
	font-weight: bold;
	font-size: 20px;
}

.fqz_box h2 {
	border-bottom: 2px solid #e4e4e4;
    left: 10%;
    position: absolute;
    bottom: 92%;
    width: 90%;
    height: 2px;
}

.fqz_box p {
	text-indent: 2em;
	font-size: 16px;
	line-height: 38px;
	position: relative;
}

.fqz_box ul li {
	float: left;
	text-align: center;
}

.fqz_box ul li~li {
	margin-left: 40px;
}

.fqz_box ul {
	padding: 0px 0 100px 0;
}

.fqz_box h3 {
	border-bottom: 2px solid #e4e4e4;
	left: 10%;
    position: absolute;
    bottom: 53%;
    width:90%;
    height: 2px;
}



/************************************************************************************/

/*交易记录   页面*/

.trading_box {
	width: 100%;
	background-color: #F7F7F7;
	padding: 30px 0 80px 0;
}

.trading-record {
	background-color: #F7F7F7;
	border: 1px solid #e4e4e4;
}

.trading-record h1 {
	padding: 10px;
	background-color: #fff;
	text-indent: 1em;
}

.trading-record .nav-tabs li {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	width: 153px;
	text-align: center;
	height:42px;
	line-height:42px;
}

/*.trading-record .nav-tabs li a {
	padding: 15px;
}*/

.trading-record .nav-tabs li a:hover {
	width: 152px;
	background-color: #F7F7F7;
	color:#00A0E8;
}

.nav-tabs {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #555;
	width: 152px;
	cursor: default;
	background-color: #F7F7F7;
	border: 1px solid #fff;
	border-bottom-color: transparent;
	
}
.nav-tabs > li > a{
	border: none;
}
.nav-tabs>li a:hover {
	border: none;
	border-radius: 0px
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	/* border: 1px solid transparent;*/
	/* border-radius: 4px 4px 0 0; */
}

.nav-tabs {
	background-color: #fff;
}

.tad-pane_box {
	padding: 30px;
}

.tab-content .tab-pane {}

.tab-content .tab-pane ul li {
	float: left;
	width: 33%;
	padding: 15px 0;
}

.tab-content .tab-pane ul li em {
	padding: 0px 10px 0px 0px;
	display: inline-block;
}

.tab-content .tab-pane ul li input {
	font-size: 12px;
	width: 188px;
	text-indent: 1em;
	height: 25px;
	border: 1px solid #DDDDDD;
}

.tab-content .tab-pane ul li select {
	height: 25px;line-height: 25px;
	font-size: 12px;
	width: 130px;
	text-indent: 1em;
	background-color: #F4F4F4;
}

.tab-content .tab-pane ul li button {
	width: 77px;
	height: 27px;
	line-height: 27px;
	color: #fff;
	background-color: #009FE8;
	border: none;
	border-radius: 5px;
}
.tab-content .tab-pane ul li button:hover{background-color: #337AB7;color:#fff ;}
.tab-content .tab-pane ul li .time {
	font-size: 12px;
	width: 188px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	border: 1px solid #DDDDDD;
	background-color: #F7F7F7;
	color: #333;
	border-radius: inherit;
	text-align: center;
	padding: 0;
	margin: 0;
}

.tab-content .tab-pane ul li.ation input {
	font-size: 12px;
	width: 87px;
	height: 25px;
	line-height: 25px;
}
.trading_box .table-striped>tbody>tr>td{font-size: 12px;}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #FFF;
}

.table {
	margin-bottom: 0;
}

.table-striped thead tr th {
	vertical-align: bottom;
	border-bottom: none;
}

.table-striped tbody tr td {
	height: 40px;
	line-height: 40px;
}

.table-striped tbody tr td {
	border-bottom: 1px solid #ddd;
}

.table-striped tbody tr td select {font-size: 12px;
	border: none;
}


.table-striped tbody tr td:first-child {
	padding-left: 30px;
}

.table-striped tr td em {
	color: #B2B2B2
}

.table-striped tr td select {
	color: #57C0F0;
	background-color: transparent;
}

#allpay .jilu {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #e4e4e4;
}

#allpay .jilu>div {
	float: left;
	width: 49%;
}

#allpay .jilu>div em {
	color: #ED7514
}

#allpay .jilu .jilu_left {
	padding-left: 30px;
}

#allpay .paging {
	width: 101%;
	height: 50px;
	line-height: 50px;
	background-color: #F7F7F7;
	margin-left: -4px;
	border-left-color: pink;
}

#allpay .paging>div {
	float: left;
	width: 49%;
}

#allpay .paging .paging_left {
	padding-left: 30px;
}

.paging .paging_rigth {
	text-align: right;
	padding-right: 20px;
}

.paging_left .shuzi {
	width: 50px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #e4e4e4;
	display: inline-block;
	text-align: center;
}

#nowpa {
	width: 50px;
	text-align: center;
}

.button {
	width: 50px;
	height: 30px;
	line-height: 27px;
	text-align: center;
}

.modal .modal-header {
	padding: 20px 20px;
	border: none
}

.modal .modal-header input {
	width: 107px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	text-indent: 1em;
}

.modal .modal-body {
	padding: 0px 30px;
}

.modal .modal-body span {
	width: 49%;
	display: inline-block;
	padding: 5px 0;
}

.modal .modal-footer {
	border: none;
	text-align: left;
	padding: 20px 30px;
}

.modal .modal-footer .btn {
	padding: 3px 12px;
	border-radius: 0;
	background-color: #F5F5F5;
	color: #333;
	border: 1px solid #C1C1C1;
}