/*平台安全*/
.platsafe{
    width:100%;
    height:auto;
    padding-bottom:130px;
}
.platsafe .zhsafe{
    height:480px;
    width:100%;
    background-color:#F7F7F7;
    padding-top:66.2px;
    /*padding-left:471px;*/
}
.platsafe .center{
    width:1200px;
    height:auto;
    margin:0 auto;
}
.platsafe .zhsafe-left{
    height:369px;
    width:369px;
    float:left;
    margin-left:110px;
    position:relative;

}
.platsafe .zhsafe-left .zhuanimg{
    position:absolute;
    left:-1px;
    top:-25px;
    width:370px;
    height:370px;
}
.platsafe .zhsafe-left>img{
    margin-left:32px;
    margin-top:3px;
}
@keyframes rotating{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}
.platsafe .zhsafe-left .zhuanimg {
    animation:rotating 4s infinite linear ;
    transform-origin: center center;
}


.platsafe .zhsafe-right{
    width:520px;
    float:right;

}
.platsafe .zhsafe-right h1{
    font-size:40px;
    color:#000000;
    margin-bottom:39px;
    padding-left:75px;
}
.platsafe .sub-zhsafe h2{
    font-size:18px!important;
    color:#000000;
    margin-bottom:12px;

}
.platsafe .sub-zhsafe p{
    width:390px;
    color:#636363;
}
.platsafe .sub-zhsafe{
    background:url("/imgs/safe/C3.png") no-repeat;
    padding-left:75px;
    margin-bottom:34px;
    height:70px;
}

.platsafe .safetwo{
    background:url("/imgs/safe/C4.png") no-repeat;
    padding-left:75px;
    animation-delay: 0.3s;
    animation-duration: 1s;
}
.platsafe .safethree{
    background:url("/imgs/safe/C5.png") no-repeat;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.platsafe .xtsaft{
    height:600px;
    width:100%;
    background-color:#ffffff;
}
.platsafe .xtsaft-left{
    width:504px;
    height:auto;
    padding-top:40px;
    margin-left:70px;
    float:left;
}
.platsafe .xtsaft-left h1{
    font-size:40px;
    color:#000000;
    margin-bottom:26px;

}
.platsafe .sub-xtsaft{
    width:480px;
    /*height:57px;*/
    margin-bottom:18px;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

.sub-xtsaft h2{
    font-size:18px;
    color:#000000;
    margin-bottom:12px;
}
.sub-xtsaft p{
    color:#636363;
    height:57px;
    width:504px;
}
/*系统安全右侧*/
.xtsaft .xtsaft-right{
    height:399px;
    width:475px;
    float:right;
    margin-top:140px;
    margin-right:50px;
}


.platsafe .zjsafe{
    height:498px;
    width:100%;
    background-color:#F7F7F7;
    clear:both;
}
.platsafe .zjsafe-left{
    width:346px;
    height:340px;
    float:left;
    position:relative;
}
.platsafe .zjsafe-left img{
    margin-top:70.9px;
    margin-left:100px;
}
.platsafe .money-imgo{
    height:130px;
    width:142px;
    position:absolute;
    left:0;
    top:60%;
    animation-delay: 0.2s;
    animation-duration: 2s;
}
.platsafe .money-imgt{
    width:108px;
    height:140px;
    position:absolute;
    left:58%;
    top:55%;
    animation-delay: 0.6s;
    animation-duration: 3s;
}
.platsafe .zjsafe-right{
    width:550px;
    height:370px;
    float:right;
    margin-top:77px;

}
.platsafe .zjsafe-right h1{
    font-size:40px;
    color:#000000;
    padding-left:75px;
    margin-bottom:25px;
}
.platsafe .zjsafe-right .zjjg{
    height:50px;
    background:url("/imgs/safe/C7.png") no-repeat;
    padding-left:75px;
    margin-bottom:59px;
}
.platsafe .zjsafe-right .zjjg h2{
    font-size:18px;
    color:#000000;
    margin-bottom:12px;

}
.platsafe .zjsafe-right .zjjg span{
    color:#585858;
}
.platsafe .zjjgbgco{
    background:url("/imgs/safe/C8.png") no-repeat!important;
}
.platsafe .zjjgbgct{
    background:url("/imgs/safe/C9.png") no-repeat!important;
}

.platsafe .fxsafe{
    height:613px!important;

}

.platsafe .fxsafe .xtsaft-left h1{
    margin-top:56px;
    padding-left:70px;

}
.platsafe .fxsafe .xtsaft-left .sub-xtsaft{
    width:510px;
    padding-left:70px;
    margin-bottom: 50px;
}
.platsafe .fxsafe .xtsaft-left .jsfk{
    background:url("/imgs/safe/C13.png") no-repeat 0 center !important;
    animation-delay: 0.2s;
    animation-duration:2s;
}
.platsafe .fxsafe .xtsaft-left .ptwdx{
    background:url("/imgs/safe/C14.png") no-repeat 0 30px;
    animation-delay: 0.3s;
    animation-duration:3s;
}
.platsafe .fxsafe .xtsaft-left .datasafe{
    background:url("/imgs/safe/C15.png") no-repeat 0 30px;
    animation-delay: 0.4s;
    animation-duration:4s;
    margin-top:75px;
}
.platsafe .fxsafe .xtsaft-left{
    width:578px;
    margin-left:50px;
}
.platsafe .fxsafe .xtsaft-right{
    width:570px;
    margin:0;
    height:100%;
    padding-top:60px;
}


/*安全设置*/
.settingsafe{
    width:100%;
    height:auto;
    background-color:#F7F7F7;
    padding-top:40px;
    padding-bottom:100px;
}
.settingsafe .content{
    width:1200px;
    height:1318px;
    margin:0 auto;
    background-color:#ffffff;
    padding:55px 0 150px 0;
}
.settingsafe .con-left{
    width:110.7px;
    height:1112.2px;
    float:left;
    margin-left:140px;
    position:relative;
}
.settingsafe .con-left .low{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius: 100%;
    background-color:#FF0000;
    font-size:22px;
    color:#ffffff;
    position:absolute;
    left:64%;
    top:19%;
}
.settingsafe .con-left .middle{
    position:absolute;
    left:64%;
    top:48.5%;
    background-color:#FFA000;
}
.settingsafe .con-left .top{
    position:absolute;
    left:64%;
    top:79.5%;
    background-color:#52BE3B;
}
.settingsafe .con-right{
    width:890px;
    height:100%;
    float:right;
    margin-right:55px;
}
.settingsafe .con-right h1{
    height:50px;
    font-size:25px;
    line-height:50px;
    color:#4A4A4A;
    padding-left:69px;
    background:url("/imgs/safe/D2.png") no-repeat;
    margin-bottom:83px;
}
.settingsafe .con-top{
    height:auto;
    width:100%;
    padding-left:36px;
}
.settingsafe .con-top h2{
    font-size:15px;
    color:#4A4A4A;
}
.settingsafe .smrz{
    height:153px;
    width:853px;
    background-color:#F7F7F7;
    margin-top:28px;
    padding:23px 0 28px 42px;
    position:relative;
}
.settingsafe .smrz:before{
    content:'';
    width:0;
    height:0;
    border:10px solid transparent;
    border-right:10px solid #F7F7F7;
    position:absolute;
    top:25%;
    left:-2%;
}
.settingsafe .sub-smrz{
    background:url("/imgs/safe/D3.png") no-repeat;
    height:70px;
    padding-left:91px;
    color:#585858;
    padding-top:10px;
}
.settingsafe .sub-smrz .smrztwo{
    display:inline-block;
    color:#333333;
    font-size:15px;
    margin-bottom:7px;
}
.settingsafe .lisq{
    margin-left:90px;
    color:#585858;
    margin-top:5px;
}
.settingsafe .lisq button{
    height:25px;
    line-height:25px;
    width:90px;
    background-color:#B0B0B0;
    border:none;
    border-radius: 3px;
    color:#ffffff;
    margin-right:15px;
    font-size:12px;
}
.settingsafe .con-right .fuwu{
    margin-top:125px;

}
.settingsafe .con-right .fuwu .smrz{
    height:186px;
}
.settingsafe .fuwu .sub-smrz{
    background:url("/imgs/safe/D4.png") no-repeat;
    width:331px;
}
.settingsafe .fuwu .fuwu-btn{
    width:241px;
}
.settingsafe .fuwu .fuwu-btn button{
    background-color:#00A0E8;
    margin-top:28px;

}
.settingsafe .smrz-left{
    width:331px;
    float:left;
}
.settingsafe .smrz-right{
    width:331px;
    float:right;
    margin-right:34px;
}
.settingsafe .smrz-right .sub-smrz{
    background:url("/imgs/safe/D5.png") no-repeat;
}
.settingsafe .aqbh .smrz-left .sub-smrz{
    background:url("/imgs/safe/D6.png") no-repeat;
}
.settingsafe .aqbh .smrz-right .sub-smrz{
    background:url("/imgs/safe/D7.png") no-repeat;
}