.safebo{
    background: white;
}
.safebo li{
        border-bottom: 1px solid #E8E8E8;
        height: 60px;
        line-height: 60px;
        padding: 0 30px 0 40px;
 }
.safebo li img:nth-child(1){
        margin-right: 40px;
}
.safebo{
    border: 1px solid  #E8E8E8;;
}
.safebof{
    width: 5%;
    display: inline-block;
    font-size: 18px;

}
.safebol{
    width: 10%;
    display: inline-block;
    font-size: 18px;
    color: #585858;
}
.safebor{
     width: 72%;
    display: inline-block;
    color: #9C9C9C;
}
.safe_tit{
       font-size: 20px;
      color: #4A4A4A;
}

.find .allbody{
    padding: 10px 28px;
}
.find_two li{
    float: left;
    height: 80px;
    line-height: 80px;
}
.find_two li:nth-child(1){
    width: 50px;
    margin: 0 20px;
}
.find_two li:nth-child(2){
          margin-right: 50px;
          width: 500px;
}
.find_two p{
    line-height: 40px;
}

.masage{
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 0 20px;
}
.masage .icheckbox_flat-blue{
        margin:0 10px;
}
.masage thead {
    background: #F7F7F7;
}
.masage th,.masage td {
     border-bottom: 1px solid #E8E8E8;
    height: 50px;
    line-height: 50px;
 }

.masage th:nth-child(1) {
    padding: 0 10px 0 20px;
}
.masage th:nth-child(2) {
    width: 200px;
}
.masage th:nth-child(3) {
    width: 100px;
}
.masage td:nth-child(1) {
    padding: 0 10px 0 20px;
}
.masage td:nth-child(2) {
    width: 200px;
}
.masage td:nth-child(3) {
    width: 100px;
}
.masage tbody{
     background: #ffffff;
}
.yhkrz{
    overflow: hidden;
    width: 98%;
    margin: 0 auto;
    color: white;
}
.yhkrz .yhk{
    float: left;
    width: 22%;
    margin-right: 4%;
    margin-bottom: 40px;
    height: 150px;
    border-radius: 10px;
    background-position: -5px -5px;
    background-size: 110% 110%;
    box-shadow: 0 0 1px 1px #ccc;
}
.yhks{
    height: 76%;
    padding: 10px 15px 10px 20px;
    line-height: 45px;
}
.yhks p:nth-child(1){
}
.yhks p:nth-child(2){
    text-align: right;
    font-size: 20px;
}
.yhkx{
    height: 24%;
    background: white;
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;
}
.yhkx img{
      margin-top: 10px;
}

.zsyh{
    background: url("/imgs/icons/B4-17.png");
}
.nyyh{
    background: url("/imgs/icons/B4-19.png");
}
.jsyh{
    background: url("/imgs/icons/B4-20.png");
}
.yhky{
    border-radius: 50% 50%;
    background: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}
.safejdt{
    margin-top: 10px;
    margin-bottom: 25px;
}




