<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="telephone=no" name="format-detection" />
<meta content="address=no" name="format-detection" />
<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
<meta name="description" content="银生宝，国内领先的独立第三方支付平台，致力于为广大用户提供安全快速的电子支付/网上支付/安全支付体验，及转账收款/水电煤缴费/ AA收款等生活服务应用。" />
<meta name="keywords" content="银生宝，电子支付/网上支付/安全支付/安全购物/网络购物付款/付款/收款/担保付款/担保收款，水电煤缴费/AA收款,银生宝网站" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="modules/css/common.scss"><!--ignore-->
<link rel="stylesheet" type="text/css" href="modules/css/index.scss"><!--ignore-->
